.red-text {
    color: red;
    --color: red;
}

.green-text {
    color: rgb(48, 216, 42);
    --color: rgb(48, 216, 42);
}

.text-size {
    padding-inline-start: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.8rem;

}

.title-text {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.1rem;
}

.group-list-item {
    min-height: 78px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
}

.no-owe {
    color: rgb(179, 179, 179);
    font-style: italic;
}

.group-list-item-avatar {
    width: 72px;
    height: 72px;
    --border-radius: 1rem;
    background: var(--ion-color-primary-tint, #97ff89);
}


.group-list-item-icon {
    width: 48px;
    height: 48px;
    background: var(--ion-color-primary-tint, #97ff89);
}